#root {
  margin: 0 auto;
  text-align: center;
}

/* Add these styles to your project's stylesheet */

/* Toast Container */
.Toastify__toast-container {
  font-size: 14px; /* Adjust the font size as needed */
}

/* Toast */
.Toastify__toast {
  font-size: 14px; /* Adjust the font size as needed */
  border-radius: 8px; /* Adjust the border-radius as needed */
}

/* Toast Success */
.Toastify__toast--success {
  background-color: #28a745; /* Your success background color */
}

/* Toast Error */
.Toastify__toast--error {
  background-color: #dc3545; /* Your error background color */
}
